<mat-card>

  <h1 align="center">{{course.tag}}</h1>
  <hr class="my-1">
  <p>{{course.description}}</p>

</mat-card>

<div class="course-tasks" *ngFor="let task of tasks">
  <div>
    <div class="taskHeading">
      <h1>{{task.tag}}</h1>

    </div>
    <hr class="my-4">
    <p>{{task.description}}</p>
    <div class="fileNamesContainer" *ngFor="let file of task.fileNames">
      <p class="fileLink">{{file}}</p>
      <button mat-mini-fab color="primary" (click)="downloadTaskFile(task.id, file)">
        <mat-icon>file_download</mat-icon>
      </button>
    </div>
  </div>
</div>
