<mat-card>

  <h1 align="center">{{course.tag}}</h1>
  <hr class="my-1">
  <p>{{course.description}}</p>

</mat-card>

<div class="course-tasks" *ngFor="let task of tasks">
  <div>
    <div class="taskHeading">
      <h1>{{task.tag}}</h1>
      <button id ="menuButton" mat-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="addTaskAnswer(task.id)">
          <mat-icon>upgrade</mat-icon>
          <span>Upload Answer</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>comment</mat-icon>
          <span>Comment</span>
        </button>
      </mat-menu>
    </div>
    <hr class="my-4">
    <p>{{task.description}}</p>
    <div class="fileNamesContainer" *ngFor="let file of task.fileNames">
      <p class="fileLink">{{file}}</p>
      <button mat-mini-fab color="primary" (click)="downloadTaskFile(task.id, file)">
        <mat-icon>file_download</mat-icon>
      </button>
    </div>
    <hr class="my-1">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Your Files
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="fileNamesContainer" *ngFor="let file of task.userFileNames">
        <h5>Your Files:</h5>
        <p class="fileLink">{{file}}</p>
        <button mat-mini-fab color="primary" (click)="downloadTaskAnswerFile(task.id, file)">
          <mat-icon>file_download</mat-icon>
        </button>
      </div>
    </mat-expansion-panel>
  </div>
</div>
