<div>
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Subscribed courses">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">class</mat-icon>
        Subscribed Courses
      </ng-template>
      <div class="cards-block">
        <course-card *ngFor="let subscribedCourse of subscribedCourses" [title]="subscribedCourse.tag"
                     [description]="subscribedCourse.description" (click)='viewCourse(subscribedCourse, false)'>
        </course-card>
      </div>
    </mat-tab>
    <mat-tab label="My Courses">
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">perm_contact_cal</mat-icon>
        My Courses
      </ng-template>
      <div class="cards-block">
        <course-card *ngFor="let course of courses" [title]="course.tag"
                     [description]="course.description" (click)='viewCourse(course, true)'>
        </course-card>
      </div>
    </mat-tab>
  </mat-tab-group>

</div>
