<loading-spinner *ngIf="showSpinner"></loading-spinner>

<div class="container">
    <div *ngFor="let course of courses" class="course">
            <h1 class="display-4">{{course.tag}}</h1>
            <hr class="my-4">
            <p class="lead">{{course.description}}</p>
            <button class="btn btn-primary btn-lg" (click)='viewCourse([course])'>View</button>
            <button class="btn btn-danger btn-lg" [value]="course.id" (click)='deleteCourse($event)'>Delete</button>
    </div>
</div>
