.course-card {
  margin-top: 5rem;
  margin-bottom: 5rem;
  margin-left: 35rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 50%;
}

.course-card:hover {
  cursor: pointer;
}
