@import '~@angular/material/theming';
@import "src/styles";


.course-card {

  margin: 0 auto;
  margin-top: 3rem;
  margin-bottom: 3rem;

  padding: 0.5rem;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.course-card:hover {
  cursor: pointer;
}

#openIcon {

}
