<h1 mat-dialog-title>Add task</h1>
<div mat-dialog-content id="createTaskConent">
  <p>Task name</p>
  <input matInput [(ngModel)]="data.tag">
  <p>Related Files</p>
  <ul>
    <li *ngFor="let file of files">
      {{file.data.name}}
      <mat-progress-bar [value]="file.data.progress"></mat-progress-bar>
      <span id="file-label">

                    </span>
    </li>
  </ul>
  <button mat-button color="warn" (click)="onClick()">
    <mat-icon>file_upload</mat-icon>
    Upload Files
  </button>
  <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="*/*"
         style="display:none;"/>
</div>
<div mat-dialog-actions align="center">
  <button mat-button (click)="addTask()" cdkFocusInitial>Create</button>
  <button mat-button mat-dialog-close>Cancel</button>
</div>
