<h1 mat-dialog-title>Create course</h1>
<div mat-dialog-content>
  <p>Course name</p>
  <mat-form-field>
    <input matInput [(ngModel)]="data.tag" [formControl]="createCourseFormControl">

    <mat-error *ngIf="createCourseFormControl.hasError('minLength')  && !createCourseFormControl.hasError('required')">
      Minimun length is {{minLength}}
    </mat-error>
    <mat-error *ngIf="createCourseFormControl.hasError('maxLength') && !createCourseFormControl.hasError('required')">
      Maximum length is {{maxLength}}
    </mat-error>
    <mat-error *ngIf="createCourseFormControl.hasError('required')">
      Course name <strong>required</strong>
    </mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions align="center">
  <button mat-button (click)="onCreateClick()" cdkFocusInitial>Create</button>
  <button mat-button mat-dialog-close>Cancel</button>
</div>
