.container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 3rem;
}
.collapse a {
    color: white;
}
h1   {
    text-align: center;
}

#navbar {
    background-color: rgb(69, 61, 138);
}

