<mat-toolbar id="toolbar">

  <button mat-icon-button color="primary" aria-label="Button with a menu icon" *ngIf="isLoggedIn()"
          (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>


  <span>OpenStudies</span>
  <span class="toolbar-spacer"></span>

  <button mat-icon-button color="primary" [matMenuTriggerFor]="menu" aria-label="Icon-button with a account icon">
    <mat-icon aria-hidden="false" aria-label="Account icon">account_circle</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <div *ngIf="!isLoggedIn(); else isLoggedInBlock">
      <button mat-menu-item routerLink="/login">
        <mat-icon>perm_identity</mat-icon>
        <span>Sign In</span>
      </button>

      <button mat-menu-item routerLink="/login" routerLink="/signup">
        <mat-icon>receipt</mat-icon>
        <span>Sign Up</span>
      </button>
    </div>

    <ng-template #isLoggedInBlock>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign Out</span>
      </button>
    </ng-template>
  </mat-menu>

</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav [mode]="'over'">
    <div *ngIf="isLoggedIn() && isAdmin()">
      <button mat-menu-item routerLink="/admin" (click)="sidenav.toggle()">
        <mat-icon>list</mat-icon>
        <span>Users</span>
      </button>
      <button mat-menu-item routerLink="/admin/add" (click)="sidenav.toggle()">
        <mat-icon>add</mat-icon>
        <span>Add User</span>
      </button>
    </div>


    <div *ngIf="isLoggedIn() && !isAdmin()">
      <button mat-menu-item routerLink="/home" (click)="sidenav.toggle()">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>

      <button mat-menu-item routerLink="/mycourses" (click)="sidenav.toggle()">
        <mat-icon>book</mat-icon>
        <span>Courses</span>
      </button>

      <button mat-menu-item routerLink="/mycourses" (click)="sidenav.toggle(); showSubscribeCourseDialog();">
        <mat-icon>assignment</mat-icon>
        <span>Subscribe Course</span>
      </button>

      <button mat-menu-item routerLink="/mycourses" (click)="sidenav.toggle(); showCreateCourseDialog();">
        <mat-icon>add</mat-icon>
        <span>Create Course</span>
      </button>
    </div>
  </mat-sidenav>

  <mat-sidenav-content>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


