<mat-card>

  <h1 align="center">{{course.tag}}</h1>

  <hr class="my-1">
  <div id="visibility_div"> Course Code: {{fakeCourseCode}}
    <mat-icon  id="visibility_icon" (click)="changeCourseCodeVisibility()">{{visibleCourseCode}}</mat-icon>
  </div>

</mat-card>

<div class="course-tasks" *ngFor="let task of tasks">
  <div>
    <div class="taskHeading">
      <h1>{{task.tag}}</h1>
      <button id ="menuButton" mat-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="openUsersWorks(course.id, task.id)">
          <mat-icon>fact_check</mat-icon>
          <span>Look Through Works</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>comment</mat-icon>
          <span>Comment</span>
        </button>
        <button mat-menu-item color="warn" (click)="deleteTask(task.id)">
          <mat-icon>delete</mat-icon>
          <span>Delete Task</span>
        </button>
      </mat-menu>

    </div>
    <hr class="my-4">
    <div class="fileNamesContainer" *ngFor="let file of task.fileNames">
      <p class="fileLink">{{file}}</p>
      <button mat-mini-fab color="primary" (click)="downloadTaskFile(task.id, file)">
        <mat-icon>file_download</mat-icon>
      </button>
    </div>
  </div>
</div>

<div class="course-tasks">
  <button mat-fab color="primary">
    <mat-icon (click)="addTask()">add</mat-icon>
  </button>
</div>
