#course-options-button{
  margin-left: 70%;
}

#courseHeading{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.taskHeading {
  display: flex;
  justify-content: left;
}

.course-tasks{
  border-block: 3px solid black;
  margin: 2rem 10rem;
  padding: 2rem 10rem;
}


.fileNamesContainer {
  display: flex;
  align-items: center;
}

.fileNamesContainer p {
  margin-right: 1rem;
  margin-bottom: 0;

}

.fileLink {
  text-decoration: underline;
}

#visibility_div {
  padding-top: 20px;
  text-align: left;
}


#visibility_icon {
  margin-left: 1rem;
  position: absolute;
}

