.course-info {
  background-color: #699195;
  border-radius: 20px;
  margin: 5rem 45rem;
  padding: 2rem 10rem;
}

.course-tasks{
  background-color: grey;
  border-radius: 20px;
  margin: 2rem 10rem;
  padding: 2rem 10rem;
}


.fileNamesContainer {
  display: flex;
}

.fileNamesContainer p {
  margin-right: 1rem;
}
